In [8]:
import pandas as pd

In [10]:
original = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/compilable/codellama.parquet", engine="fastparquet")
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5644 entries, 0 to 5643
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   contract_name  5644 non-null   object
 1   func_name      4447 non-null   object
 2   source_code    5644 non-null   object
 3   source_idx     5644 non-null   int64
dtypes: int64(1), object(3)
memory usage: 176.5+ KB

:

In [5]:
import pandas as pd
error = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/compilation/error/error1.parquet", engine="fastparquet")
error.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 2 to 386
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   contract_name  204 non-null    object
 1   func_name      147 non-null    object
 2   source_code    204 non-null    object
 3   source_idx     204 non-null    int64
 4   error          204 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.6+ KB

In [23]:
with open("check.txt", "w") as f:
    for idx in error.index:
        f.write(f"{idx}\n{error.loc[idx, 'error']}\n------------------------------------------------------------\n")

In [26]:
with open("check.sol", "w") as f:
    for idx in error.index:
        f.write(f"{idx}\n{error.loc[idx, 'source_code']}\n------------------------------------------------------------\n")

In [30]:
error.loc[14, ["source_idx", "contract_name", "func_name"]]

source_idx                  14
contract_name      ExchangerV4
func_name        withdrawEther
Name: 14, dtype: object

In [9]:
test_suite = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/test_suite.parquet", engine="fastparquet")
test_suite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11601 entries, 0 to 11600
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   contract_name            11601 non-null  object
 1   func_name                8858 non-null   object
 2   original_source_code     11601 non-null  object
 3   filled_source_body       11601 non-null  object
 4   filled_source_deepseek   11601 non-null  object
 5   filled_source_codellama  11601 non-null  object
dtypes: object(6)
memory usage: 543.9+ KB

In [29]:
with open("ground_truth.sol", "w") as f:
    f.write(test_suite.loc[14, "original_source_code"])

In [13]:
deepseek = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/test/deepseek.parquet", engine="fastparquet")
deepseek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11601 entries, 0 to 11600
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   contract_name  11601 non-null  object
 1   func_name      8858 non-null   object
 2   source_code    11601 non-null  object
dtypes: object(3)
memory usage: 272.0+ KB

In [16]:
with open("gt.sol", "w") as f:
    f.write(deepseek.loc[6, "source_code"])

In [1]:
import pandas as pd
contracts = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/contracts/contracts_filtered.parquet", engine="fastparquet")
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118663 entries, 0 to 118662
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   source_idx       118663 non-null  object
 1   contract_name    118663 non-null  object
 2   contract_source  118663 non-null  object
 3   count            118663 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [7]:
import pandas as pd
contracts_v2 = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/contracts/contracts_v2.parquet",  engine="fastparquet")
contracts_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118663 entries, 0 to 118662
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   source_idx       118663 non-null  object
 1   contract_name    118663 non-null  object
 2   contract_source  118663 non-null  object
 3   contract_ast     118663 non-null  object
 4   count            118663 non-null  object
dtypes: object(5)
memory usage: 4.5+ MB

In [8]:
contracts_v2['contract_ast']

0         {"type":"SourceUnit","children":[{"type":"Cont...
1         {"type":"SourceUnit","children":[{"type":"Cont...
2         {"type":"SourceUnit","children":[{"type":"Cont...
3         {"type":"SourceUnit","children":[{"type":"Cont...
4         {"type":"SourceUnit","children":[{"type":"Cont...
                                ...
118658    {"type":"SourceUnit","children":[{"type":"Cont...
118659    {"type":"SourceUnit","children":[{"type":"Cont...
118660    {"type":"SourceUnit","children":[{"type":"Cont...
118661    {"type":"SourceUnit","children":[{"type":"Cont...
118662    {"type":"SourceUnit","children":[{"type":"Cont...
Name: contract_ast, Length: 118663, dtype: object

In [9]:
contracts_v2[contracts_v2["contract_ast"] == "<PARSER_ERROR>"]

Empty DataFrame
Columns: [source_idx, contract_name, contract_source, contract_ast, count]
Index: []

In [5]:
batch1 = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/parser/data/batch1.parquet", engine="fastparquet")
batch1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   source_idx       3956 non-null   int64
 1   contract_name    3956 non-null   object
 2   contract_source  3956 non-null   object
 3   count            3956 non-null   int64
dtypes: int64(2), object(2)
memory usage: 123.8+ KB

In [6]:
batch1.head()

,source_idx,contract_name,contract_source,count
0,0,Ownable,contract\tOwnable\t\t{\t\t\t\t\t\t\r\n\taddres...,54
1,1,SCT,contract SCT is SafeMath{\r\n string public...,1
2,2,ERC20Mintable,"contract ERC20Mintable is BaseToken, MinterRol...",4
3,3,Context,contract Context {\n constructor () interna...,7
4,4,ERC20Interface,contract ERC20Interface {\r\n function tota...,3809

In [1]:
import pandas as pd
deepseek = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/compile_info/deepseek_v1.parquet", engine="fastparquet")
deepseek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28001 entries, 0 to 28000
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contract_name              28001 non-null  object
 1   func_name                  21342 non-null  object
 2   masked_contract            28001 non-null  object
 3   func_body                  28001 non-null  object
 4   func_body_removed_comment  28001 non-null  object
 5   deepseek_output            28001 non-null  object
 6   file_source_idx            28001 non-null  object
 7   source_code                28001 non-null  object
 8   source_idx                 28001 non-null  int64
 9   compile_info               28001 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.1+ MB

In [5]:
import pandas as pd

raw = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/compile_info/test_6k_v1.deepseek.parquet", engine="fastparquet")
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contract_name              6000 non-null   object
 1   func_name                  4522 non-null   object
 2   masked_contract            6000 non-null   object
 3   func_body                  6000 non-null   object
 4   func_body_removed_comment  6000 non-null   object
 5   deepseek_output            6000 non-null   object
 6   file_source_idx            6000 non-null   int64
 7   source_code                6000 non-null   object
 8   source_idx                 6000 non-null   int64
 9   compile_info               6000 non-null   object
dtypes: int64(2), object(8)
memory usage: 468.9+ KB

In [6]:
raw["compile_info"].describe()

count                        6000
unique                       2602
top       <COMPILED_SUCCESSFULLY>
freq                         3331
Name: compile_info, dtype: object

In [2]:
import pandas as pd
test_suite = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/test_suite_6k.parquet", engine="fastparquet")
test_suite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contract_name              6000 non-null   object
 1   func_name                  4522 non-null   object
 2   masked_contract            6000 non-null   object
 3   func_body                  6000 non-null   object
 4   func_body_removed_comment  6000 non-null   object
 5   deepseek_output            6000 non-null   object
 6   file_source_idx            6000 non-null   int64
 7   file_source                6000 non-null   object
 8   filled_source_body         6000 non-null   object
 9   filled_source_deepseek     6000 non-null   object
dtypes: int64(1), object(9)
memory usage: 468.9+ KB

In [3]:
test_suite[test_suite["filled_source_deepseek"].isnull()]

Empty DataFrame
Columns: [contract_name, func_name, masked_contract, func_body, func_body_removed_comment, deepseek_output, file_source_idx, file_source, filled_source_body, filled_source_deepseek]
Index: []

In [4]:
test_suite["filled_source_deepseek"]

0       pragma solidity ^0.4.19;\n\ncontract SafeMath ...
1       pragma solidity 0.4.26;\n\n/**\n* Get % profit...
2       // SPDX-License-Identifier: MIT\n\npragma soli...
3       pragma solidity ^0.4.24;\n\n/**\n * Math opera...
4       pragma solidity ^0.4.24;/**\n * @title SafeMat...
                              ...
5995    // SPDX-License-Identifier: MIT\n\npragma soli...
5996    pragma solidity ^0.4.23;\n\ncontract Token {\n...
5997    pragma solidity ^0.5.0;\n\n\n// --------------...
5998    pragma solidity ^0.4.21;\n\n/**\n * @title Lin...
5999    pragma solidity ^0.5.0;\n\n\ncontract ERC20Int...
Name: filled_source_deepseek, Length: 6000, dtype: object

In [7]:
import pandas as pd
body = pd.read_parquet("/home/hieuvd/lvdthieu/CodeGen/data/compile_info/test_6k_v1/body.parquet", engine="fastparquet")
body.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contract_name              6000 non-null   object
 1   func_name                  4522 non-null   object
 2   masked_contract            6000 non-null   object
 3   func_body                  6000 non-null   object
 4   func_body_removed_comment  6000 non-null   object
 5   file_source_idx            6000 non-null   int64
 6   source_code                6000 non-null   object
 7   source_idx                 6000 non-null   int64
 8   compile_info               6000 non-null   object
dtypes: int64(2), object(7)
memory usage: 422.0+ KB

In [9]:
body["compile_info"].describe()

count                        6000
unique                          8
top       <COMPILED_SUCCESSFULLY>
freq                         5993
Name: compile_info, dtype: object